.errorAlert {
  position: fixed;
  bottom: 15px;
  left: 15px;
  background-color: rgb(255, 63, 63);
  padding: 20px;
  min-width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.errorAlert .alert {
  margin-right: 20px;
  color: #fff;
}
.errorAlert button {
  color: #fff;
}

.closeErrorAlert {
  display: none;
}