.forgot {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.forgot .content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 413px;
  padding: 70px 33px 30px 33px;
  background-color: #F9F9FE;
  border-radius: 8px;
}
.forgot .content .title {
  font-weight: 600;
  font-size: 55px;
  line-height: 59px;
  text-align: center;
}
.forgot .content .form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.forgot .content .form .email {
  margin-top: 55px;
  background-color: #F9F9FE;
  border-bottom: 1px solid #24254A;
  padding: 4.5px 0px 4.5px 0px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 347px;
}
.forgot .content .form .text {
  margin-top: 30px;
  opacity: 0.5;
  line-height: 24px;
}
.forgot .content .form .send {
  margin-top: 51px;
  padding: 9px 68px 9px 68px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ECECF9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  background: #21268F;
  align-self: center;
}
.forgot .content .form .send:disabled {
  background-color: #d3d3d3;
  color: #676767;
  cursor: no-drop;
  box-shadow: none;
}
.forgot .content .rememberPassword {
  margin-top: 31px;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5;
}
.forgot .content .tryLoggingIn {
  margin-top: 11px;
  line-height: 24px;
  color: #21268F;
  text-decoration: underline;
}

.fieldError {
  color: red;
  margin-top: 15px;
}