.header {
  height: 60px;
  background: #EBE0E9;
}
.header .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .content .navBar {
  display: flex;
  height: 100%;
}
.header .content .navBar .link {
  width: 173px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .content .navBar .link .cardsImage {
  margin-right: 9.13px;
}
.header .content .navBar .link .userImage {
  margin-right: 18.5px;
}
.header .content .navBar .link .name {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.active {
  background: #DCCCDB;
  border-bottom: 3px solid #21268F;
}