.login {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login .content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 413px;
  padding: 90px 33px 30px 33px;
  background-color: #F9F9FE;
  border-radius: 8px;
}
.login .content .title {
  font-weight: 600;
  font-size: 60px;
  line-height: 39px;
}
.login .content .form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 347px;
  margin-top: 55px;
}
.login .content .form .email {
  background-color: #F9F9FE;
  border-bottom: 1px solid #24254A;
  padding: 4.5px 0px 4.5px 0px;
  line-height: 24px;
}
.login .content .form .password {
  margin-top: 30px;
  background-color: #F9F9FE;
  border-bottom: 1px solid black;
  padding: 4.5px 0px 4.5px 0px;
  line-height: 24px;
}
.login .content .form .rememberMe {
  margin-right: 10px;
  margin-top: 40px;
  cursor: pointer;
}
.login .content .form .forgot {
  line-height: 17px;
  font-size: 14px;
  margin-top: 48px;
  align-self: end;
  margin-right: 18px;
  text-decoration: underline;
  color: #21268F;
}
.login .content .form .loginBtn {
  margin-top: 35px;
  padding: 9px 113px 9px 113px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ECECF9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  background: #21268F;
  align-self: center;
}
.login .content .form .loginBtn:disabled {
  background-color: #d3d3d3;
  color: #676767;
  cursor: no-drop;
  box-shadow: none;
}
.login .content .text {
  font-size: 14px;
  line-height: 24px;
  margin-top: 31px;
}
.login .content .signUp {
  margin-top: 11px;
  line-height: 24px;
  color: #21268F;
  text-decoration: underline;
}

.fieldError {
  color: red;
  margin-top: 10px;
}