.userInfo {
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D9F1;
}
.userInfo .avatarImage {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
.userInfo .name {
  margin-top: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.userInfo .job {
  margin-top: 4px;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
}
.userInfo .buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.userInfo .buttons .editProfile,
.userInfo .buttons .logOut {
  border: 1px solid #635D80;
  margin-top: 8px;
  padding: 5px 8px 5px 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.32px;
  color: #21268F;
}