.showPacksCards {
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 8px;
}

.myBtn,
.allBtn {
	height: 44px;
	background: #FFF;
	border-radius: 2px;
	padding: 0px 40px;
}

.active {
	background: #366EFF;
	color: #fff;
}