@import 'styles/sass/mixins.scss';
@import 'styles/sass/templates.scss';

.login {
	margin-top: 60px;
	@include flex(row, center, center);

	.container {
		@extend %secondaryContainer;

		.title {
			font-weight: 600;
			font-size: 26px;
			line-height: 32px;
		}

		.form {
			margin-top: 41px;
			@include flex(column, stretch, stretch);

			.emailFieldContainer {
				position: relative;

				.emailField {
					@extend %input;
				}

				.errorMessageEmailField {
					position: absolute;
					top: 40px;
					left: 0;
					color: red;
					text-align: center;
					width: 100%;
					font-size: 14px;
				}
			}

			.passwordFieldContainer {
				position: relative;

				.passwordField {
					margin-top: 40px;
					@extend %input;
				}

				.errorMessagePasswordField {
					position: absolute;
					bottom: -22px;
					left: 0;
					color: red;
					text-align: center;
					width: 100%;
					font-size: 14px;
				}

				.eye {
					@extend %eye;
				}
			}

			.body {
				@include flex(row, space-between, center);
				height: 76px;
				margin-top: 24px;

				.label {
					align-self: start;
					font-size: 14px;
					line-height: 17px;

					.rememberMe {
						margin-right: 10px;
					}

					&:hover {
						text-decoration: underline;
					}
				}

				.forgotLink {
					align-self: end;
					font-size: 14px;
					line-height: 17px;
					transition: color, 0.2s ease-in-out 0s;

					&:hover {
						text-decoration: underline;
						color: #7a7a7a;
					}
				}
			}

			.bottom {
				margin-top: 50px;
				@include flex(column, stretch, center);

				.signInBtn {
					@extend %primaryButton;
				}

				.text {
					margin-top: 31px;
					opacity: 0.5;
					line-height: 24px;
					font-size: 14px;
					font-weight: 600;
				}

				.signUpBtn {
					margin-top: 11px;
					@extend %secondaryButton;
				}
			}
		}
	}
}

.disabledLink {
	pointer-events: none;
	opacity: 0.5;
}