 @import 'styles/sass/mixins.scss';
 @import 'styles/sass/templates.scss';

 .container {

 	.top {
 		margin-top: 39px;
 		@include flex(row, space-between, center);

 		.title {

 			font-weight: 600;
 			font-size: 22px;
 			line-height: 27px;
 		}

 		.addNewPackBtn {
 			@extend %btn;
 			padding: 0px 28px;
 		}
 	}

 	.main {
 		display: flex;
 		justify-content: space-between;
 		margin-top: 40px;
 	}
 }