 @import 'styles/sass/mixins.scss';
 @import 'styles/sass/templates.scss';

 .container {

 	.top {
 		margin-top: 39px;
 		@include flex(row, space-between, center);

 		.title {

 			font-weight: 600;
 			font-size: 22px;
 			line-height: 27px;
 		}

 		.addNewPackBtn {
 			@extend %btn;
 			padding: 0px 28px;
 		}
 	}

 	.main {
 		display: flex;
 		justify-content: space-between;
 		margin-top: 40px;

 		.search {
 			font-size: 14px;
 			line-height: 17px;
 			margin-bottom: 8px;
 		}

 		.showPacksCards {
 			font-size: 14px;
 			line-height: 17px;
 			margin-bottom: 8px;
 		}

 		.showPacksButtons {

 			.myBtn {
 				height: 44px;
 				background: #FFF;
 				border: 1px solid #D9D9D9;
 				border-radius: 2px;
 				padding: 0px 40px;
 			}

 			.allBtn {
 				height: 44px;
 				background: #366EFF;
 				border-radius: 0px 2px 2px 0px;
 				color: #fff;
 				padding: 0px 40px;
 			}
 		}

 		.numberOfCards {
 			font-size: 14px;
 			line-height: 17px;
 		}
 	}
 }