@import 'styles/sass/mixins.scss';
@import 'styles/sass/templates.scss';

.register {
	margin-top: 60px;
	@include flex(row, center, center);

	.container {
		@extend %secondaryContainer;

		.title {
			font-weight: 600;
			font-size: 26px;
			line-height: 32px;
		}

		.form {
			margin-top: 41px;
			@include flex(column, stretch, stretch);

			.emailInputContainer {
				position: relative;

				.emailInput {
					@extend %input;
				}

				.errorEmailInput {
					position: absolute;
					top: 40px;
					left: 0;
					color: red;
					text-align: center;
					width: 100%;
					font-size: 14px;
				}
			}

			.passwordInputContainer,
			.confirmPasswordInputContainer {
				position: relative;

				.passwordInput,
				.confirmPasswordInput {
					margin-top: 40px;
					@extend %input;
				}

				.errorPasswordInput,
				.errorConfirmPasswordInput {
					position: absolute;
					bottom: -22px;
					left: 0;
					color: red;
					text-align: center;
					width: 100%;
					font-size: 14px;
				}
			}

			.bottom {
				margin-top: 76px;
				@include flex(column, stretch, center);

				.text {
					margin-top: 31px;
					opacity: 0.5;
					line-height: 24px;
					font-size: 14px;
					font-weight: 600;
				}

				.signInBtn {
					margin-top: 11px;
					@extend %secondaryButton;
				}
			}
		}
	}
}

.disabledLink {
	pointer-events: none;
	opacity: 0.5;
}