@import 'styles/sass/mixins.scss';
@import 'styles/sass/templates.scss';

.register {
	margin-top: 60px;
	@include flex(row, center, center);

	.container {
		@extend %secondaryContainer;

		.title {
			font-weight: 600;
			font-size: 26px;
			line-height: 32px;
		}

		.form {
			margin-top: 41px;
			@include flex(column, stretch, stretch);

			.emailFieldContainer {
				position: relative;

				.emailField {
					@extend %input;
				}

				.errorEmailField {
					position: absolute;
					top: 40px;
					left: 0;
					color: red;
					text-align: center;
					width: 100%;
					font-size: 14px;
				}
			}

			.passwordFieldContainer,
			.confirmPasswordFieldContainer {
				position: relative;

				.passwordField,
				.confirmPasswordField {
					margin-top: 40px;
					@extend %input;
				}

				.errorPasswordField,
				.errorConfirmPasswordField {
					position: absolute;
					bottom: -22px;
					left: 0;
					color: red;
					text-align: center;
					width: 100%;
					font-size: 14px;
				}

				.eye {
					@extend %eye;
				}
			}

			.bottom {
				margin-top: 76px;
				@include flex(column, stretch, center);

				.signUpBtn {
					@extend %primaryButton;
				}

				.text {
					margin-top: 31px;
					opacity: 0.5;
					line-height: 24px;
					font-size: 14px;
					font-weight: 600;
				}

				.signInBtn {
					margin-top: 11px;
					@extend %secondaryButton;
				}
			}
		}
	}
}