@import 'styles/sass/mixins.scss';
@import 'styles/sass/templates.scss';

.newPassword {
	margin-top: 60px;
	@include flex(row, center, center);

	.container {
		@extend %secondaryContainer;

		.title {
			font-weight: 600;
			font-size: 26px;
			line-height: 32px;
		}

		.form {
			margin-top: 82px;
			width: 330px;

			.passwordInputContainer {
				position: relative;

				.passwordInput {
					@extend %input;
				}

				.errorPasswordInput {
					position: absolute;
					bottom: -19px;
					left: 0;
					color: red;
					text-align: center;
					width: 100%;
					font-size: 14px;
				}
			}

			.text {
				margin-top: 18px;
				opacity: 0.5;
				font-size: 14px;
				line-height: 24px;
			}

			.additionalPrimaryBtn {
				margin-top: 42px;
			}
		}
	}
}