@import 'styles/sass/mixins.scss';
@import 'styles/sass/templates.scss';

.container {
	margin-top: 60px;
	@include flex(row, center, center);

	.content {
		@extend %secondaryContainer;

		.title {
			font-weight: 600;
			font-size: 26px;
			line-height: 32px;
		}

		.writingIcon {
			margin-top: 29px;
			width: 100px;
		}

		.text {
			margin-top: 31px;
			opacity: 0.5;
			font-size: 14px;
			line-height: 24px;
		}

		.email {
			opacity: 0.5;
			font-size: 14px;
			line-height: 24px;
			font-weight: 700;
		}

		.backToLoginBtn {
			margin-top: 41px;
			@extend %primaryButton;
		}
	}
}