.sortValueBtn {
	position: relative;

	.triangleDescending {
		border: 5px solid transparent;
		border-top: 7px solid black;
		position: absolute;
		top: 5px;
		right: -13px;
	}

	.triangleAscending {
		border: 5px solid transparent;
		border-bottom: 7px solid black;
		position: absolute;
		top: 0px;
		right: -13px;
	}
}