@import 'styles/sass/mixins.scss';

.primaryLabel {
	@include flex(row, stretch, center);
	margin-top: 12px;
	width: 156px;
	line-height: 24px;

	.primaryRadio {
		appearance: none;
		height: 16px;
		width: 16px;
		margin-right: 12px;
		border-radius: 50%;
		background-color: #fff;
		border: 1px solid #366EFF;
		transition: border 0.1s ease-in-out 0s;

		&:hover {
			border: 4px solid #c7d7ff;
		}

		&:checked {
			border: 4px solid #366EFF;
		}

		&:focus {
			border: 4px solid #366EFF;
		}
	}
}