@import 'styles/sass/mixins.scss';

.container {
	width: 100px;
	@include flex(row, space-between, center);
	margin-left: 56px;
}

.secondaryContainer {
	width: 100px;
	@include flex(row, center, center);
	margin-left: 56px;
}