 @import 'styles/sass/mixins.scss';

 .container {
 	margin-top: 33px;

 	.sort {
 		margin-top: -9px;
 		width: 100%;
 		height: 48px;
 		@include flex(row, space-around, center);
 		background-color: #EFEFEF;
 	}
 }