.cards {
	height: 93.8vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		width: 1008px;
		height: 636px;
		background: #FEFEFF;
		padding: 0px 24px 0px 24px;

		.search {
			margin-top: 15px;
			background: #ECECF9;
			padding: 5px 17px 6px 17px;
			width: 100%;
			border-radius: 2px;
			opacity: 0.5;
			border: 1px solid #635D80;
		}

		.table {
			margin-top: 24px;

			.info {
				background: #ECECF9;
				padding: 16px 12px 16px 24px;
				display: flex;
				justify-content: space-around;
				align-items: center;

				.infoName {
					font-weight: 700;
					font-size: 13px;
					line-height: 15px;
				}

				.infoCards {
					font-weight: 700;
					font-size: 13px;
					line-height: 15px;
				}

				.infoLastUpdated {
					font-weight: 700;
					font-size: 13px;
					line-height: 15px;
				}

				.infoCreatedBy {
					font-weight: 700;
					font-size: 13px;
					line-height: 15px;
				}

				.infoActions {
					font-weight: 700;
					font-size: 13px;
					line-height: 15px;
					margin-right: 55px;
				}
			}
		}
	}
}