@import 'styles/sass/mixins.scss';
@import 'styles/sass/templates.scss';

.title {
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
}

.body {
	display: flex;
	margin-top: 15px;

	.addNewPackBtn {
		padding: 9px 30px;
		width: 100%;
		margin-left: 20px;
		@extend %btn;
	}
}