@import 'styles/sass/mixins.scss';
@import 'styles/sass/templates.scss';

.container {
	width: 413px;
	height: 360px;
	background-color: #FFF;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 2px;

	.content {
		@include flex(column, stretch, center);

		.title {
			margin-top: 27px;
			font-weight: 600;
			font-size: 22px;
			line-height: 27px;
		}

		.name {
			margin-top: 17px;
			font-size: 20px;
			line-height: 24px;
		}

		.avatar {
			margin-top: 30px;
			width: 96px;
			height: 96px;
			border-radius: 50%;
		}

		.email {
			margin-top: 14px;
			opacity: 0.5;
			font-size: 14px;
			line-height: 24px;
		}

		.LogOutBtn {
			margin-top: 29px;
			height: 36px;
			@include flex(row, space-evenly, center);
			padding: 0px 20px;
			width: 127px;
			text-align: center;
			background: #FCFCFC;
			box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
			border-radius: 30px;
		}
	}
}