@import './reset.scss';
@import './sass/variables.scss';
@import './sass/templates.scss';

body {
	color: $textColor;
	background: $backgroundGradient;
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: $fontWeight;
}