@import './reset.scss';
@import './sass/variables.scss';
@import './sass/templates.scss';

body {
	color: $textColor;
	background: $backgroundGradient;
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: $fontWeight;
}

.app {
	height: 100vh;
}

.preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}