@import 'styles/sass/templates.scss';

.editableItemBtn {
	margin-top: 17px;
	font-size: 20px;
	line-height: 24px;

	.pencilIcon {
		margin-left: 5px;
	}
}

.newNameInput {
	margin-top: 7px;
	width: 330px !important;
}