@import 'styles/sass/templates.scss';

.editableItem {
	margin-top: 17px;
	font-size: 20px;
	line-height: 24px;

	.pencilIcon {
		margin-left: 5px;
	}
}

.newNameField {
	margin-top: 7px;
	@extend %input;
}

.errorMessage {
	color: red;
	margin-top: 10px;
	font-size: 14px;
}