@import 'styles/sass/mixins.scss';

.container {
	width: 100%;
	min-height: 48px;
	border: 1px solid #D9D9D9;
	padding: 15px;

	.list {
		min-height: 100%;
		@include flex(row, stretch, center);

		.question {
			max-height: 110px;
			width: 250px;
			overflow: hidden;
			text-align: center;
			word-wrap: break-word;
		}

		.answer {
			width: 250px;
			overflow: hidden;
			text-align: center;
			margin-left: 30px;
		}

		.updated {
			width: 190px;
			overflow: hidden;
			text-align: center;
			margin-left: 70px;
		}

		.grade {
			max-height: 110px;
			width: 120px;
			overflow: hidden;
			text-align: center;
			margin-left: 110px;
		}

		.actions {
			width: 50px;
			@include flex(row, space-between, center);
			margin-left: 10px;
		}

		.secondaryActions {
			width: 50px;
			@include flex(row, center, center);
		}
	}
}