.packs {
	height: 93.8vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		width: 1008px;
		height: 636px;
		background-color: #FEFEFF;
		display: flex;
	}

	.content {
		padding: 24px 48px 24px 48px;

		h2 {
			font-weight: 600;
			font-size: 22px;
			line-height: 33px;
		}

		.table {
			margin-top: 24px;
		}
	}
}