@import 'styles/sass/mixins.scss';
@import 'styles/sass/templates.scss';

.container {
	height: 60px;
	background-color: #FCFCFC;
	box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	@include flex(row, space-between, center);
	padding: 0px 452px;

	.title {
		font-size: 40px;
	}

	.authorizedUser {
		@include flex(row, stretch, center);
		position: relative;

		.name {
			line-height: 24px;
			border-bottom: 1px dashed #000;
		}

		.image {
			height: 36px;
			width: 36px;
			border-radius: 50%;
			margin-left: 12px;
		}

		.popup {
			position: absolute;
			top: 50px;
			right: 10px;
			width: 122px;
			height: 104px;
			background: #FFFFFF;
			border: 1px solid #CFCFCF;
			box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
			@include flex(column, space-evenly, stretch);
			z-index: 2;

			.profileBtn,
			.logOutBtn {
				@include flex(row, stretch, center);
				height: 100%;
				transition: background-color 0.2s ease-in-out 0s;

				.personIcon,
				.logOutIcon {
					margin-left: 18px;
					margin-right: 7px;
					width: 16px;
					height: 16px;
				}

				&:hover {
					background-color: rgb(237, 245, 255)
				}
			}
		}
	}

	.signInBtn {
		@extend %primaryButton;
		width: 113px;
	}
}

.disabledLink {
	pointer-events: none;
	opacity: 0.5;
}