@import 'styles/sass/mixins.scss';
@import 'styles/sass/templates.scss';

.forgot {
	margin-top: 60px;
	@include flex(row, center, center);

	.container {
		@extend %secondaryContainer;

		.title {
			font-weight: 600;
			font-size: 26px;
			line-height: 32px;
		}

		.form {
			margin-top: 55px;
			width: 330px;
			@include flex(column, stretch, stretch);
			position: relative;

			.emailInput {
				@extend %input;
			}

			.errorMessage {
				position: absolute;
				top: 40px;
				left: 0;
				color: red;
				text-align: center;
				width: 100%;
				font-size: 14px;
			}

			.words {
				margin-top: 25px;
				font-size: 14px;
				line-height: 24px;
				opacity: 0.5;
			}

			.bottom {
				margin-top: 65px;
				@include flex(column, stretch, center);

				.sendInstructionsBtn {
					@extend %primaryButton;
				}

				.text {
					margin-top: 31px;
					opacity: 0.5;
					line-height: 24px;
					font-size: 14px;
					font-weight: 600;
				}

				.tryLoggingInBtn {
					margin-top: 11px;
					@extend %secondaryButton;
				}
			}
		}
	}
}